<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="link.standen.michael.phonesaver"
		  tools:ignore="GoogleAppIndexingWarning">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:fullBackupContent="@xml/backup_descriptor">
		<activity
			android:name=".activity.FolderListActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.FolderSelectActivity"
			android:label="@string/title_activity_folder_select"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="link.standen.michael.phonesaver.activity.FolderListActivity" />
		</activity>
		<activity
			android:name=".activity.CreditsActivity"
			android:label="@string/title_activity_credits"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name=".activity.SaverActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<meta-data
				android:name="android.service.chooser.chooser_target_service"
				android:value=".service.LocationChooserTargetService" />
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/title_activity_settings">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="link.standen.michael.phonesaver.activity.FolderListActivity" />
		</activity>

		<receiver android:name=".receiver.DownloadBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
			</intent-filter>
		</receiver>

		<service android:name=".service.LocationChooserTargetService"
			android:label="@string/app_name"
			android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
			<intent-filter>
				<action android:name="android.service.chooser.ChooserTargetService" />
			</intent-filter>
		</service>
	</application>

</manifest>
